.services-category-wrapper{
    margin: 10px;
    height: 200px;
    width: 98.5%;
    box-shadow: rgba(48, 47, 48, 0.133) 1px 1px 1px 1px ;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.services_box{
    margin-top: 10px;
    border-radius: 50%;
    /* background-color: rgb(232, 248, 236);
     */
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    background-color: #f8c8bd67;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    
}
.service_category_icon_design{
    margin-top: 8px;
    border-radius: 50%;
    background-color: #fd9696;
    box-shadow: rgba(48, 47, 48, 0.133) 1px 1px 1px 1px ;
    
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    
}
.service_category_images{
    height: 140px;
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.quickbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.quickCard{
    border-radius: 20px;
    margin-inline: 20px;
    height: 250px;
    width: 250px ;
}
.quickCard:hover{
    background-color: rgba(184, 244, 233, 0.551);
    transition: 1s ease-in-out;
}
.quickGridBox{
    display: flex;
}
.services_box_s{
    margin-top: 10px;
    border-radius: 50%;
    background-color: rgb(160, 235, 160);
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.white{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .services_box{
        border-radius: 50%;
        /* background-color: rgb(160, 235, 160); */
        background-color: #f8c8bd67;

        height: 80px;
        width: 80px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
   
    }
    .service_category_images{
        height: 95px;
        width: 95px;

    }
    .machine_text{
        font-size: 13px;
        line-height: 9px;
       
    }
    .machine_font{
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .white{
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }
    .quickbox{
        display: grid;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100vw;
        padding: 5px;
    }
    .quickCard{
        border-radius: 10px;
        margin-inline: 3px;
        height: 100%;
        width: 50% ;
        margin-bottom: 10px;
    }
    .quickGridBox{
        display: flex;
    }
    .services_box_s{
        border-radius: 50%;
        background-color: rgb(160, 235, 160);
        height: 80px;
        width: 80px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left:10px;
    }
    .service_category_icon_design{
        margin-top: 6px;
        border-radius: 50%;
        background-color: #fd9696;
        height: 25px;
        width: 25px;
        display: flex;
    box-shadow: rgba(48, 47, 48, 0.133) 1px 1px 1px 1px ;

        justify-content: center;
        align-items: center;
        cursor:pointer;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 6px;
        
    }
}