.banner{
    width: 100vw;
    height: 56px;
    background-color: #f8c8bd;
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none; 
    
}
.banner-wrapper{
    width: 100%;
    height: 56px;
    background-color: #f8c8bd;
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none; 
    
}
.button-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.col {
    width: 250px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background: white;
}



.link-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}



.active{
    background: white;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 250px;
    height: 46px;
    background-color: #fd9696;
    border: 2px solid white;
}

.col-a:hover{
    background-color: #fd9696;
    /* border: 2px solid white; */
    
}
.banner-text{
font-style: italic;
/* font-weight:2000; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}
.fastbricks-image{
    height: 45px;
    width: 45px;
    padding-right: 20px;
}
.service-image{
    height: 42px;
    width: 42px;
    padding-bottom: 10px;
    padding-right: 30px;
}
.rental-image{
    height: 42px;
    width: 42px;
    padding-right: 40px;
}

@media only screen and (min-width:280px) and (max-width:768px){
    .banner{
        width: 100%;
        height: 40px;
        background-color: #f8c8bd;
        margin-top: 51px;
    }
    .col {
       width: 30vw;
       height: 30px;
       margin: 0px 4px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 15px;
       background: white;
    }
    .banner-wrapper{
        margin-bottom: 30px;
        width: 100vw;
        height: 0px;
        background-color: #f8c8bd;
        margin-top: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none; 
        
    }
    .link-wrapper{
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
  
    .active{
        border-radius: 15px;
        width: 30vw;
        height: 29px;
        background-color: #fd9696;
        border: 1.4px solid white;
        
    }
    
    .col-a:hover{
        background-color: #fd9696;
        border: 1.4px solid white;
    }
 
    .banner-text{
        display: flex;
        font-size: 13px;    
    }

.fastbricks-image{
    height: 26px;
    width: 26px;
    padding-right: 2.5px;
}
.service-image{
    height: 25px;
    width: 26px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.rental-image{
    height: 25px;
    width: 26px;
    padding-right: 10px;
}

} 