.brand{
    background-color: #fff;
    width: 48%;
    margin-top: 20px;
    height: 500px;
    border: 1px solid rgb(228, 224, 224);
}
.banner_brandedProduct{
    width: 100%;
    height: 15%;
    background-image: url("/img/bricks.png");
    background-position: center;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_brandedProduct h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;

}

.branded_product_list{
    background-color: #fd9696;
    width: 180px;
    height: 195px;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
   
}
.branded_product_list_2{
    background-image: linear-gradient(#fd9696 20%, rgb(97, 191, 231), rgb(107, 227, 171));
    width: 200px;
    height: 195px;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-top: 2px;
    justify-content: center;    
    align-items: center;
    display: flex;
    margin-top: 12px;
    margin-left: 5px;
   
}
.branded_products_img{
    height: 40%;
    margin: 5px;
    background-image: url("/img/marble.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.branded_products_img_glass{
    height: 40%;
    margin: 5px;
    background-image: url("/img/brandedglass.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.branded_products_img_plywood{
    height: 40%;
    margin: 5px;
    background-image: url("/img/plywood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.branded_products_img_wood{
    height: 40%;
    margin: 5px;
    background-image: url("/img/wood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.branded_products_img_cement{
    height: 40%;
    margin: 5px;
    background-image: url("/img/cement.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.icon-west-carousel_product{
    /* padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    left: 0;
    top: 39%;
    background-color: rgba(255, 255, 255, 0.832);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; */
    display: none;

}
.icon-east-carousel_product{
    display: none;
    /* justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 39%;
    background-color: rgb(255, 255, 255, 0.832);
    border-radius: 10px;
    cursor: pointer; */
}
.icon-box-product{
    transform: scale(2.5);
    color: #f95e5e;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .brand{
        margin: 5px;
        background-color: #fff;
        width: 97%;
        margin-top: 10px;
        height: 500px;
        border: 1px solid rgb(228, 224, 224);
    }
    .branded_product_list{
        background-color: #fd9696;
        width: 180px;
        height: 195px;
        background-position: center;
        background-size: contain;
        text-align: center;
        margin-left: 5px;
       
    }
}