.sand{
    background-color: #fff;
    width: 48%;
    margin-top: 20px;
    height: 500px;
    border: 1px solid rgb(228, 224, 224);   
}
@media only screen and (min-width:321px) and (max-width:768px){
    .sand{
        margin: 5px;
        background-color: #fff;
        width: 97%;
        margin-top: 10px;
        height: 500px;
        border: 1px solid rgb(228, 224, 224);
    }
}