/* @tailwind base;
@tailwind components;
@tailwind utilities; */


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    margin-top: 48px;
}
/* bottom nav bar */
@media (max-width: 768px) {
    .bottomNavBarWrapper {
      display: block; /* Show the bottom navigation bar on mobile */
    }
  
    .bottomNavBarWrapper > .MuiBottomNavigation-root {
      display: block; /* Show the bottom navigation bar on mobile */
    }
  }
  
  @media (min-width: 769px) {
    .bottomNavBarWrapper {
      display: none; /* Hide the bottom navigation bar on desktop */
    }
  
    .bottomNavBarWrapper > .MuiBottomNavigation-root {
      display: none; /* Hide the bottom navigation bar on desktop */
    }
  }

  .marginTop {
    /* Your default styles here */
    margin-top: 70px;
  }
  
  /* Styles for desktop */
  
  
  /* Styles for mobile */
  @media (max-width: 767px) {
    .marginTop {
      margin-top: 0; /* Reset margin-top for mobile devices */
    }
  }
.about_card{
    background-color:#f8c8bd65;
}
.margin_home{
    margin-top: 57px;

}



/* banner */

/* brand */
.brand{
    background-color: #fff;
    width: 48%;
    margin-top: 20px;
    height: 500px;
    border: 1px solid rgb(228, 224, 224);
}
.banner_brandedProduct{
    width: 100%;
    height: 15%;
    background-image: url("/img/bricks.png");
    background-position: center;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_brandedProduct h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;

}

.branded_product_list{
    background-color: #fd9696;
    width: 180px;
    height: 195px;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
   
}
.branded_product_list_2{
    background-image: linear-gradient(#fd9696 20%, rgb(97, 191, 231), rgb(107, 227, 171));
    width: 200px;
    height: 195px;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-top: 2px;
    justify-content: center;    
    align-items: center;
    display: flex;
    margin-top: 12px;
    margin-left: 5px;
   
}
.branded_products_img{
    height: 40%;
    margin: 5px;
    background-image: url("/img/marble.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.branded_products_img_glass{
    height: 40%;
    margin: 5px;
    background-image: url("/img/brandedglass.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.branded_products_img_plywood{
    height: 40%;
    margin: 5px;
    background-image: url("/img/plywood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.branded_products_img_wood{
    height: 40%;
    margin: 5px;
    background-image: url("/img/wood.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.branded_products_img_cement{
    height: 40%;
    margin: 5px;
    background-image: url("/img/cement.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.icon-west-carousel_product{
    /* padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    left: 0;
    top: 39%;
    background-color: rgba(255, 255, 255, 0.832);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; */
    display: none;

}
.icon-east-carousel_product{
    display: none;
    /* justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 39%;
    background-color: rgb(255, 255, 255, 0.832);
    border-radius: 10px;
    cursor: pointer; */
}
.icon-box-product{
    transform: scale(2.5);
    color: #f95e5e;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .brand{
        margin: 5px;
        background-color: #fff;
        width: 97%;
        margin-top: 10px;
        height: 500px;
        border: 1px solid rgb(228, 224, 224);
    }
    .branded_product_list{
        background-color: #fd9696;
        width: 180px;
        height: 195px;
        background-position: center;
        background-size: contain;
        text-align: center;
        margin-left: 5px;
       
    }
}
/* categories */
.categories{
    width: 100%;
    height: 120px;
    background: #fbb7b7;
    position: relative;
    overflow-x: hidden;
}
.category-box{
    margin-top: 5px;
    height: 115px;
}
.col-b{
width: 70px;
height: 70px;
border-radius: 50%;
background: white;
padding: 10px;
margin: 0 10px;


}
.col-c{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    border: 1px solid #fbb7b7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
    padding: 2px 3px;
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    border-radius: 4px;
    
}
.icon-west{
    padding: 5px;
    background: transparent;
    border: 2px solid #fbb7b7;
    position:absolute;
    left: 0;
    z-index: 1;
    top: 30%;
}
.icon-east{
    padding: 5px;
    background: transparent;
    border: 2px solid #fbb7b7;
    position:absolute;
    right: 0;
    z-index: 1;
    top: 30%;
}
.icons-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.categories_name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.categories_name-dw{
    font-size: 15px;
    line-height: 10px;

}
.cat-img{
    height: 85px;
    width: 100px;
    border-radius: 50%;
    /* position: relative;
    right: 15px;
    bottom: 9px; */
  
}
.cat-img-cement{
    height: 82px;
    width: 75px;
    border-radius: 50%;
    /* position: relative;
    bottom: 10px;
    right: 5px; */
}
.cat-img-tiles{
    height: 82px;
    width: 85px;
    border-radius: 50%;
    /* position: relative;
    bottom: 10px;
    right: 10px; */
}
.cat-img-paints{
    height: 70px;
    width: 85px;
    border-radius: 50%;
    /* position: relative;
    bottom: 5px;
    right: 10px; */
}
.cat-img-door{
    height: 75px;
    width: 50px;
    /* position: relative;
    bottom: 5px;
    left: 10px; */

}
.cat-img-plastic{
    height: 70px;
    width: 75px;
    /* position: relative;
    bottom: 0px;
    left: 0px; */

}
.cat-img-home{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    /* position: relative;
    left: 2px;
    top: 2px; */
}
.cat-img-soil{
    height: 67px;
    width: 67px;
    border-radius: 50%;
    /* position: relative;
    left: 2px;
    bottom: 0px; */
} 
@media only screen and (min-width:321px) and (max-width:768px){
    .categories{
        width: 100%;
        height: 70px;
        background: #fbb7b7;
        position: relative;
        overflow-x: hidden;
    }
    

     .col-b{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
        padding: 5px;
        margin: 0 10px;
        
    }
    .col-c{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
        border: 1px solid #fbb7b7;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .text{
        text-align: center;
        padding: 2px 3px;
        background-color: rgba(0, 0, 0, 0.53);
        color: white;
        border-radius: 4px;
        position: relative;
        bottom: 10px;
        
    }
    .category-box{
        margin-top: 4px;
        height: 66px;
    }
    
    .categories_name{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
    }
    .icon-west{
        display: none;
        padding: 2px;
        background: transparent;
        border: 2px solid #fbb7b7;
        position:absolute;
        left: 0;
        z-index: 1;
        top: 27%;
        border-radius: 5px;
        z-index: 5;
    }
    .icon-east{
        display: none;
        padding: 2px;
        background: transparent;
        border: 2px solid #fbb7b7;
        position:absolute;
        right: 0;
        z-index: 1;
        top: 27%;
        border-radius: 5px;
    }
    .icons-arrow{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    .cat-img{
        height: 60px;
        width: 68px;
        border-radius: 50%;
        /* position: fixed;
        right: 5px;
        bottom: 10px; */
      
    }
    .cat-img-cement{
        height: 52px;
        width: 57px;
        border-radius: 50%;
        /* position: fixed;
        bottom: 15px;
        right: 10px; */
    }
    .cat-img-tiles{
        height: 60px;
        width: 58px;
        border-radius: 50%;
        /* position: fixed;
        bottom: 10px;
        right: 10px; */
    }
    .cat-img-paints{
        height: 50px;
        width: 60px;
        border-radius: 50%;
        /* position: fixed;
        bottom: 15px;
        right: 10px; */
    }
    .cat-img-door{
        height: 50px;
        width: 35px;
        /* position: fixed;
        bottom: 12px;
        left: 23px; */
    }
    .cat-img-plastic{
        height: 50px;
        width: 50px;
        /* position: fixed;
        bottom: 15px;
        left: 15px; */

    }
    .cat-img-home{
        height: 45px;
        width: 47px;
        border-radius: 50%;
        /* position: relative;
        left: 1px;
        top: 2px; */
    }
    .categories_name-dw{
        font-size: 8px;
        line-height: 6px;

    }
    .cat-img-soil{
        height: 47px;
        width: 47px;
        border-radius: 50%;
        /* position: relative;
        left: 2px;
        bottom: 0px; */
    }
}


/* cement */

/* //door */


/* //footer */
.footer-wrapper{
    width: 100%;
    
    overflow: hidden;
}
.footer-container{
  display: flex;
  justify-content: center;
}
.social{
    width: 100%;
    height: 70px;
    background:#fd9696;
    border-bottom: 5px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social h1{
  font-size: 30px;
  font-weight: 1000;
}
.SocialLink{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

/* Footer.css */

.footer {
background-image: url("/footer-image.png");
background-color: #E49295;
padding: 50px 0;
background-repeat: no-repeat;
background-size: contain; 
background-position: start; 
}

.footer-content {
display: flex;
flex-wrap: wrap;
justify-content: end;
align-items: center;
}

.footer-column {
width: calc(25.33% - 40px);
margin-bottom: 40px;
}
.footer-column h4{
color: #fff;
cursor: pointer;
margin-bottom: 6px;

}
.footer-column h1{
color: #ffffff;
margin-bottom: 10px;
}
.desc_banner_img{
width: 100%;
object-fit: contain;
margin-bottom: 0px;
}
/* css for youtube videos */
.video-responsive {
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #f8c8bd13;
  border-radius: 30px;


}
.about_card{
  /* background-color:#ffffff13; */
  background-color: #b5f7c553;
  height: 200px;
  width: 400px;
  box-shadow: none;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  /* Add any additional CSS styling as needed */
@media only screen and (min-width:321px) and (max-width:768px){

.social h1{
    font-size: 25px;
    font-weight: 1000;
    }
.SocialLink{
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
}
.footer-content {
display: grid;
flex-wrap: wrap;
justify-content: end;
margin-right: 0px;
}
.social{
width: 100%;
height: 70px;
background:#fd9696;
border-bottom: 5px solid rgb(255, 255, 255);
color: white;
display: flex;
align-items: center;
justify-content: space-around;

}

.footer {
background-image: url("/footer-image.png");
background-color: #E49295;
padding: 50px 0;
background-repeat: no-repeat;
background-size: 200px; 
}
.footer-column {
width:70%;
margin-bottom: 40px;
}

.video-responsive {
overflow: hidden;
padding-bottom: 0%;
height: auto;
border-radius: 30px;

}
.about_card{
/* background-color:#feffe2; */
background-color: #b5f7c553;
height: 170px;
width: 200px;
box-shadow: none;
border-radius: 5px;
margin-top:20px;
margin-bottom:40px;
margin-left: 10px;
margin-right: 10px;
}
.about_text{
font-size: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

}
/* glass */

/* paint */


/* product */
.product{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media only screen and (min-width:280px) and (max-width:768px){
    .product{
        width: 100%;
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        flex-wrap: wrap;
    }
}
/* sand */


/* slider */
.slider{
height: 300px;
width: 100%;
position: relative;
overflow-x: hidden;
}
.container{
    width: 100vw;
    height: 310px;
    display: flex;
    transition: all 1s ease;

}
.img{
width: 100%;
height: 100%;
object-fit:fill;;
}
.icon-west-carousel{
padding: 8px;
height: 60px;
background: transparent;
border: 2px solid #ffffff;
position:absolute;
left: 0;
top: 35%;
background-color: rgba(255, 255, 255, 60%);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;

}
.icon-east-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 60px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 35%;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 10px;
    cursor: pointer;
}
.icons-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon-box{
    margin-top:10px;
    color: #ffffff;
    transform: scale(3);
}
   
    /* services slider css */
   
.service_content_text{
    /* position: fixed; */
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* right: 40px;
    top: 30px; */
    /* display: grid; */
    text-align: center;
    font-size: 35px;

}
.service_content_button{
    font-size: 16px;
    margin-top: 10px;
}
.center_services_box{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: fixed;
right: 500px;
bottom: 40px ;

}
.slider_box{
padding: 0px;
display: flex;

width: 100%;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .slider{
    height: 200px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: 200px;
    background-color: #fff;
    display: flex;
    object-fit: fill;
    /* justify-content: center;
    align-items: center; */
    transition: all 1s ease;

}
.slider_box{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
    .img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    }
.container_service{
    width: 100vw;
    height: 200px;
    display: flex;
    transition: all 1s ease;

}
    .img_service{
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
.icon-west-carousel{
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    left: 0;
    top: 38%;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icon-east-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 38%;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 10px;
}
.icon-box{
margin-top:10px;
color: #ffffff;
transform: scale(2);
}
/* services slider css */

.service_content_text{
    /* position: fixed; */
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* right: 40px;
    top: 30px; */
    /* display: grid; */
    text-align: center;
    font-size: 20px;

}
.service_content_button{
    font-size: 10px;
    margin-top: 10px;
}
.center_services_box{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: fixed;
right: 60px;
bottom: 40px ;

}
}
/* service-slider */

    
.container_service{
width: 100vw;
height: 455px;
display: flex;
transition: all 1s ease;

}
.img_service{
width: 100%;
height: 455px;
object-fit:fill;
}

.icon-west-carousel_service{
    padding: 8px;
    height: 60px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    left: 0;
    top: 45%;
    background-color: rgba(255, 255, 255, 60%);
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.reverse{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.icon-east-carousel_service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 60px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 45%;
    background-color: rgba(255, 255, 255, 60%);
    /* border-radius: 10px 0px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    cursor: pointer;
}
.icons-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon-box{
margin-top:10px;
color: #ffffff;
transform: scale(3);
}

  /* services slider css */
 
.service_content_text{
/* position: fixed; */
color: #ffffff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* right: 40px;
top: 30px; */
/* display: grid; */
text-align: center;
font-size: 35px;

}
.service_content_button{
font-size: 16px;
margin-top: 10px;
}
.center_services_box{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: fixed;
right: 200px;
bottom: 110px ;

}
.center_services_box_adv{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
right: 1490px;
/* bottom: 100px; */

}
 .container_service_adv{
  width: 100%;
  display: flex;
}
.service_content_text_adv{
  /* position: fixed; */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  text-align: center;
  font-size: 35px;
}
.service_content_button_adv{
  border-radius: 15;
  background-color: #21b6ae;
  height: 70px;
  width: 140px;
  font-size: 18px;
}
.service_content_button_adv:hover{
  background-color: #21b6ae;
}

@media only screen and (min-width:321px) and (max-width:768px){
.slider{
    height: 200px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.container_service{
width: 100vw;
height: 200px;
display: flex;
transition: all 1s ease;

}
.img_service{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.icon-west-carousel_service{
padding: 0px;
height: 40px;
background: transparent;
border: 2px solid #ffffff;
position:absolute;
left: 0;
top: 38%;
background-color: rgba(255, 255, 255, 60%);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;


}
.icon-east-carousel_service{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
height: 40px;
background: transparent;
border: 2px solid #ffffff;
position:absolute;
right: 0;
top: 38%;
background-color: rgba(255, 255, 255, 60%);
border-radius: 10px;
}
.icon-box{
margin-top:10px;
color: #ffffff;
transform: scale(2);
}
/* services slider css */

.service_content_text{
/* position: fixed; */
color: #ffffff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* right: 40px;
top: 30px; */
/* display: grid; */
text-align: center;
font-size: 20px;

}
.service_content_button{
font-size: 10px;
margin-top: 10px;
}
.center_services_box{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: fixed;
right: 60px;
bottom: 40px ;

}


.center_services_box_adv{
display: grid;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
right: 370px;
/* bottom: 100px; */

}
.container_service_adv{
width: 100%;
display: flex;
}
.service_content_text_adv{
/* position: fixed; */
color: #ffffff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
text-align: center;
font-size: 15px;
font-weight: 800;
} 
.service_content_button_adv{
border-radius: 15;
background-color: #ea6d6d;
width: 86px;
height: 25px;
font-size: .578499rem;

}
.service_content_button_adv:hover{
background-color: #21b6ae;
}
}
/* slider-rental */
.imgC{
width: 100%;
height: 100%;
object-fit: fill;
}
.containerC{
width: 100vw;
height: 39.5vh;
display: flex;
transition: all 1s ease;
object-fit: fill;
}
.icon-west-carousel-r{
padding: 8px;
height: 60px;
background: transparent;
border: 2px solid #ffffff;
position:absolute;
left: 0;
top: 35%;
background-color: rgba(255, 255, 255, 60%);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;

}
.icon-east-carousel-r{
padding: 8px;
height: 60px;
background: transparent;
border: 2px solid #ffffff;
position:absolute;
right: 0;
top: 35%;
background-color: rgba(255, 255, 255, 60%);
border-radius: 10px;
display: flex;
justify-content: space-between;
align-items: center;
cursor: pointer;

}
.icon-box-a{
margin-top:1px;
color: #ffffff;
transform: scale(3);
}
@media only screen and (min-width:321px) and (max-width:768px){
.containerC{
    object-fit: fill;
    width: 100vw;
    height: 25vh;
    display: flex;
    transition: all 1s ease;
    }
    .imgC{
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
    .icon-west-carousel-r{
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    left: 0;
    top: 38%;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icon-east-carousel-r{
    padding: 0px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    position:absolute;
    right: 0;
    top: 38%;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icon-box-a{
    margin-top:1px;
    color: #ffffff;
    transform: scale(2);
    }

}
  /* stone */
  
/* tile */

/* tools */

/* toptools */

/* wallpaper */
.wallpaper{
    background-color: #fff;
    width: 48%;
    margin-top: 20px;
    height: 500px;
    border: 1px solid rgb(228, 224, 224);
}
.wallpaper_heading{
    width: 95%;
    height: 5%;
    padding: 20px;
    text-align: left;
    align-self: self-start;

}
.wallpaper_product{
    width: 100%;
    height: 77%;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: space-between;
    align-items:flex-end;
    
}

.wallpaper-img{
    width: 725px;
    height: 250px;
    object-fit: fill;
}
.wallpaper-box{
    width: 719px;
    margin-left: 6px;
    background-color: rgba(105, 74, 227, 0.2);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    position: relative;
    bottom: 100px;
}
.wallpaper_product  .w_p_col{
    width: 23%;
    height: 200px;
    border: 2px solid #fbb7b7;
    margin-bottom: 30px;
    margin-right:20px;
    margin-left: 10px;
    border-radius: 8px;
}
.w_p_col .w_p_img{
    width: 80%;
    height: 40%;
    background: rgba(239, 34, 41, 0.251);
    margin:auto;
    margin-top: 10px;
    text-align: center;
}
.w_p_col .w_p_img img{
    width: 100px;
    height: 100%;
}
.w_p_col .w_p_info{
    width: 100%;
    height:60% ;
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.w_p_col .w_p_info .w_p_desc{
    font-size: 12px;
    margin-top: 5px;
}
.view_btnw{
    width: 100%;
    height: 10%;
    background-color: #fbb7b7;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* bottom: 98px;
    position: relative; */

}
@media only screen and (min-width:321px) and (max-width:768px){
    .wallpaper{
        margin-bottom: 200px;
        background-color: #fff;
        width: 97%;
        margin-top: 10px;
        margin: 5px;
        height: 500px;
        border: 1px solid rgb(228, 224, 224);
    }
    .wallpaper_product  .w_p_col{
        width: 23%;
        height: 220px;
        border: 2px solid #fbb7b7;
        margin-bottom: 30px;
        margin-right:20px;
        margin-left: 10px;
        border-radius: 8px;
    }
    .wallpaper-box{
        width: 719px;
        margin-left: 6px;
        background-color: rgba(105, 74, 227, 0.2);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
        position: relative;
        bottom: 100px;
    }
    .view_btnw{
        width: 100%;
        height: 10%;
        background-color: #fbb7b7;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0px;
        position: relative;
    
    }
}



/* flooring */

.banner_flooring{
    width: 100%;
    height: 40%;
    background-image: url("https://img.freepik.com/premium-vector/builded-city-city-construction-building-foundations-construction-cranes-build-buildings-cartoon-vector-illustration-urban-development-panoramic-street-view-with-modern-skyscrapers_102902-2490.jpg?w=1480");
    background-position: center;
    background-size: cover;
    text-align: center;
}


/* about us css */



@media (max-width:540px){
.marginBottomForMob{
    margin-bottom: 50px !important;
}
}